{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> MyBalans |{% block title %} {% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <!-- Header -->
    <header>
        <div class="container header-container">
            <a href="{% url 'main:main' %}" class="logo">
                <i class="fas fa-wallet"></i>
                <span>{% trans "MyBalans" %}</span>
            </a>
            
            <nav class="nav-links">
                <a href="{% url 'main:main' %}" class="{% if request.resolver_match.url_name == 'main' %}active{% endif %}">
                    <i class="fas fa-home"></i>
                    <span>{% trans "Home" %}</span>
                </a>
                <a href="{% url 'main:transactions' %}" class="{% if request.resolver_match.url_name == 'transactions' %}active{% endif %}">
                    <i class="fas fa-exchange-alt"></i>
                    <span>{% trans "Transactions" %}</span>
                </a>
                <a href="{% url 'main:income' %}" class="{% if request.resolver_match.url_name == 'income' %}active{% endif %}">
                    <i class="fas fa-wallet"></i>
                    <span>{% trans "Income" %}</span>
                </a>
                <a href="{% url 'main:expenses' %}" class="{% if request.resolver_match.url_name == 'expenses' %}active{% endif %}">
                    <i class="fas fa-money-bill-wave"></i>
                    <span>{% trans "Expense" %}</span>
                </a>
                <a href="{% url 'main:categories' %}" class="{% if request.resolver_match.url_name == 'categories' %}active{% endif %}">
                    <i class="fas fa-wallet"></i>
                    <span>{% trans "Categories" %}</span>
                </a>
            </nav>
            
            <div class="header-actions">
                <!-- Language Dropdown -->
                <div class="user-profile">
                    <button type="button" class="language-toggle">
                        <i class="fas fa-globe"></i>
                    </button>
                    <div class="user-dropdown">
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" name="language" value="en" style="display: block;
                                                                                    padding: 8px 10px;
                                                                                    color: #000102;
                                                                                    text-decoration: none;
                                                                                    transition: all 0.3s ease;
                                                                                    background-color: #dfe4ea;">
                                <img src="https://flagcdn.com/w20/gb.png" class="language-flag"> English
                            </button>
                        </form>
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" name="language" value="uz" style="display: block;
                                                                                    padding: 8px 15px;
                                                                                    color: #000102;
                                                                                    text-decoration: none;
                                                                                    transition: all 0.3s ease;
                                                                                    background-color: #dfe4ea;">
                                <img src="https://flagcdn.com/w20/uz.png" class="language-flag"> O‘zbekcha
                            </button>
                        </form>
                        <form method="post" action="{% url 'set_language' %}">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="submit" name="language" value="ru" style="display: block;
                                                                                    padding: 8px 15px;
                                                                                    color: #000102;
                                                                                    text-decoration: none;
                                                                                    transition: all 0.3s ease;
                                                                                    background-color: #dfe4ea;">
                                <img src="https://flagcdn.com/w20/ru.png" class="language-flag"> Русский
                            </button>
                        </form>
                    </div>
                </div>
                
                <!-- Theme toggle -->
                <button class="theme-toggle">
                    <i class="fas fa-moon"></i>
                </button>
                
                {% if request.user.is_authenticated %}
                <!-- User dropdown -->
                <div class="user-profile">
                    <div class="user-avatar"><img src="{{ request.user.avatar.url }}" alt="User avatar" style="width: 40px; height: 40px;"></div>
                    <div class="user-dropdown">
                        <a href="{% url 'users:profile' %}">
                            <i class="fas fa-user mr-2"></i>
                            <span>{% trans "Profile" %}</span>
                        </a>
                        <a href="{% url 'users:logout' %}">
                            <i class="fas fa-sign-out-alt mr-2"></i>
                            <span>{% trans "Logout" %}</span>
                        </a>
                    </div>
                </div>
                {% else %}
                <nav class="nav-links">
                   <a href="{% url 'users:register' %}" class="{% if request.resolver_match.url_name == 'register' %}active{% endif %}">
                        <i class="fas fa-user-plus"></i>  <!-- Sign Up uchun -->
                        <span>{% trans "SignUp" %}</span>
                    </a>

                    <a href="{% url 'users:login' %}" class="{% if request.resolver_match.url_name == 'login' %}active{% endif %}">
                        <i class="fas fa-sign-in-alt"></i> <!-- Login uchun -->
                        <span>{% trans "Login" %}</span>
                    </a>
                </nav>
                {% endif %}
            </div>
        </div>
    </header>
    {% block content %}

    {% endblock content %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/transactions.js' %}"></script>
    <script src="{% static 'js/income.js' %}"></script>
    <script src="{% static 'js/expenses.js' %}"></script>
    <script src="{% static 'js/profile.js' %}"></script>
    <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
