{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "New Password" %}</title>
</head>
<body>
    <h1>{% trans "New Password" %}</h1>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="password" name="password" placeholder="Password">
            <input type="password" name="confirm_password" placeholder="Confirm password">
            <button type="submit">{% trans "Submit" %}</button>
        </form>
    </div>
</body>
</html>